@model RegisterModel

@{
    Layout = "_Layout";
    var title = "Update";
    ViewData["Title"] = title;
}

<style>
    .input-validation-error {
        border-color: red;
    }

    .form-control::placeholder {
        color: #888;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    .btn-primary {
        background-color: #007bff;
        border-color: #007bff;
    }
</style>

<h2 class="text-center">@title</h2>

@if (ViewBag.Register == "Successfully updated")
{
    <p class="text-center" style="color:green">@ViewBag.Register</p>
}

<form id="updateForm" class="m-4 p-4 border rounded" method="post" asp-action="Update">
    <input type="" asp-for="Id" /> <!-- Include the Id field as a hidden field to identify the record to update -->
    <div class="form-group">
        <label asp-for="FullName">Full Name</label>
        <input asp-for="FullName" class="form-control" placeholder="Fullname">
        <span asp-validation-for="FullName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email">
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Phone">Phone</label>
        <input asp-for="Phone" class="form-control" placeholder="+977 9823445123">
        <span asp-validation-for="Phone" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Gender">Gender</label>
        <select asp-for="Gender" class="form-control">
            <option value="">Select Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
</form>


